//Mixins
@use './mixins.scss' as *;
//----------------------------------------------------------------------------------------
//Reset styles
@use './reset.scss';
//----------------------------------------------------------------------------------------
//Global styles
body {
	&._lock {
		overflow: hidden;
	}
}
.wrapper {
	min-height: 100vh;
	height: 100%;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 1 auto;
}